.category-main {
  .status-btn {
    width: 17%;
    border: none;
    background-color: var(--azure);
    border-radius: 4px;
    color: var(--white-two);
    font-family: 'Roboto Slab', sans-serif;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }
}
